*{
    font-family:'Lucida Sans';
    margin: 5px;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}


h1{
    text-align: center;
    font-size: 85px;
    font-family:'Times New Roman';
    margin-bottom: 50px;
    margin-top: 0px;
    background-color: white;
    color: green;
    height: 150px;
    width: 1400px;
    padding-top: 30px;
    padding-bottom: 70px;
    position: top;
}

h2{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    
}

p{
    position: center;
    padding-right: 250px;
    padding-left:260px;
}

html{
    font-size: 19px;
    overflow-x: hidden;
}

body{
    background: #eee;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding: 2rem 1rem;
    
}

.container.title{
    font-size:3.5rem ;
    color:#4444 ;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    
}

.container.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(98rem,8fr));
    gap: 2rem;
}

.container.products-container.product{
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0.5rem 1rem rgb(0, 0, 0);
    
}
.container.Product{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(98rem,8fr));
     gap: 2rem;
}